.closed-area-container {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.delete-button:hover {
    background-color: #ff1a1a;
}