.route-info-container {
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-info-container h3 {
    margin-bottom: 10px;
}

.route-info-container p {
    margin: 5px 0;
}

.route-info-container ul {
    list-style-type: none;
    padding: 0;
}

.route-info-container li {
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}